<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Pintura Editor Playground </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button (click)="applyBlackAndWhiteFilter()" size="block">
    Our custom button to trigger black and white filter
  </ion-button>

  <div class="pintura-editor-container">
    <pintura-editor
      #pinturaEditor
      src="https://images.pexels.com/photos/2088019/pexels-photo-2088019.jpeg"
      [options]="pinturaEditorOptions"
      (process)="handleEditorProcess($event)"
    ></pintura-editor>
  </div>
</ion-content>
